// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #000000;
// $primary-light: findLightColor($primary);
// $primary-dark: findDarkColor($primary);
// $primary-invert: findColorInvert($primary);
// $twitter: #4099FF;
// $twitter-invert: findColorInvert($twitter);

// // Lists and maps
// $custom-colors: null !default;
// $custom-shades: null !default;

// // Setup $colors to use as bulma classes (e.g. 'is-twitter')
// $colors: mergeColorMaps(
//     (
//         "white": (
//             $white,
//             $black,
//         ),
//         "black": (
//             $black,
//             $white,
//         ),
//         "light": (
//             $light,
//             $light-invert,
//         ),
//         "dark": (
//             $dark,
//             $dark-invert,
//         ),
//         "primary": (
//             $primary,
//             $primary-invert,
//             $primary-light,
//             $primary-dark,
//         ),
//         "link": (
//             $link,
//             $link-invert,
//             $link-light,
//             $link-dark,
//         ),
//         "info": (
//             $info,
//             $info-invert,
//             $info-light,
//             $info-dark,
//         ),
//         "success": (
//             $success,
//             $success-invert,
//             $success-light,
//             $success-dark,
//         ),
//         "warning": (
//             $warning,
//             $warning-invert,
//             $warning-light,
//             $warning-dark,
//         ),
//         "danger": (
//             $danger,
//             $danger-invert,
//             $danger-light,
//             $danger-dark,
//         ),
//     ),
//     $custom-colors
// );

// // Links
// $link: $primary;
// $link-invert: $primary-invert;
// $link-focus-border: $primary;

// Import Bulma and Buefy styles

$loading-background:	rgba(0,0,0,.5);
$loading-icon-size: 2em;

@import "~bulma";
@import "~buefy/src/scss/buefy";


#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

.is-full-width {
  width: 100%;
}
.is-absolute {
  position: absolute !important;
}
.no-border {
  border: none !important;
}

.is-step-done {
  text-decoration: line-through;
  opacity: .5;
}
